<!--
  ~ Copyright (c) 2001-2011, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->

<plugin xmlns="http://www.generalinterface.org/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.generalinterface.org/gi/amp http://www.generalinterface.org/xsd/plugin.xsd"
        id="code.editor"
        name="Code Editor Plug-In"
        version="1">

  <requires>
	<plugin id="net.sf.editarea"/>
  </requires>

  <resources>
    <xml id="code_editor_xml" path="code_editor.xml" load="manual"/>
  </resources>

  <!-- Events -->
  <event id="keyDown"/>

</plugin>
